# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds / dist
dist/
build/
.out/
.cache/
.vite/
.svelte-kit/
astro/.astro/

# Frameworks
.next/
.nuxt/
.vercel/
.netlify/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/